html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  font-family: helvetica;
  color: #FFFFFF;
  background-color: #444444;
}

h1, h2 {
  text-align: center;
}

#weather {
  background-color: #222222;
  width: 60px;
  padding: 6px;
  text-align: center;
}

.hidden {
  display: none;
}

#map {
  margin: 0 auto;
  width: 80vw;
  height: 70vh;
  color: #111;
  box-shadow: 25px 25px 100px 25px black;
}